<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813053928991-ccko7vgj2nt78s3vmr3riq8d5juv7f4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813053928991-ccko7vgj2nt78s3vmr3riq8d5juv7f4k</string>
	<key>API_KEY</key>
	<string>AIzaSyA1BqtZ0ftWK5mDTmBqodT2r7uhsUv6pcU</string>
	<key>GCM_SENDER_ID</key>
	<string>813053928991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingFlutter</string>
	<key>PROJECT_ID</key>
	<string>bulletnote-16b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>bulletnote-16b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813053928991:ios:449cf11d2e12ba163e572a</string>
</dict>
</plist>